body {
  background-image: url(https://i.postimg.cc/Kzz2gG6m/world-clock.png);
  font-family: "Limelight", cursive;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
h1 {
  text-align: center;
  font-family: "Caramel", cursive;
  font-size: 70px;
  opacity: 90%;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
footer {
  text-align: center;
  font-size: 36px;
  font-family: "Caramel", cursive;
  color: white;
  opacity: 95%;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  opacity: 60%;
  padding: 30px;
  box-shadow: 0px 7px 29px 0px rgba(251, 247, 247, 0.2);
  border-radius: 10px;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 100%;
  font-style: italic;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
.github-link {
  color: white;
  opacity: 95%;
}
